{% extends "comunes/base.html" %}
{% block navbar %}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<!--
<nav>
    <a href="/usuarios">Usuarios</a>
    <a href="/productos">Productos</a>
    <a>Categorias</a>
    <a>Pedidos</a>
    <a href="/usuarios/editar">Editar Perfil</a>
</nav>-->
    <div class="container">
        <div class="row">
            <main>
                <H3>Bienvenido a la tienda en linea SHOPITESZ</H3>
                <p><i>Aqui encontrarás las mejores ofertas de los productos de tu interes</i></p>
                <a href="/usuarios/iniciarSesion" class="btn btn-success">Ingresar</a>
            </main>
        </div>
    </div>
{% endblock %}

