{% extends 'comunes/base.html' %}
{% block navbar %}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<div class="container">
    <div class="well">
<h1>Listado de Categorias</h1>
        {% if current_user.is_authenticated and current_user.is_admin() %}
        <a href="/categorias/nuevo">
           <span class="glyphicon glyphicon-plus"></span>Agregar Categoria
        </a>
        {% endif %}
<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>IMAGEN</th>
        {% if current_user.is_authenticated and current_user.is_admin() %}
        <th>ESTATUS</th>
        <th>VER</th>
        {% endif %}
    </thead>
    {% for cat in categorias %}
    {% if cat.estatus==True %}
        <tr>
            <td>{{cat.idCategoria}}</td>
            <td>{{cat.nombre}}</td>
            <td><img src="/categorias/imagen/{{cat.idCategoria}}" width="100px"></td>
            {% if current_user.is_authenticated and current_user.is_admin() %}
            <td>{{cat.estatus}}</td>
            <td>
                <a href="/categorias/ver/{{cat.idCategoria}}">
                <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </td>
            {% endif %}
        </tr>
    {% else %}
        {% if current_user.is_authenticated and current_user.is_admin() %}
        <td>{{cat.idCategoria}}</td>
            <td>{{cat.nombre}}</td>
            <td><img src="/categorias/imagen/{{cat.idCategoria}}" width="100px"></td>

            <td>{{cat.estatus}}</td>
            <td>
                <a href="/categorias/ver/{{cat.idCategoria}}">
                <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </td>
        {% endif %}
    {% endif %}

    {% endfor %}
</table>
        </div>
</div>
{% endblock %}