{% extends 'comunes/base.html' %}
{% block navbar %}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
    <h1>Registro de Productos</h1>
    <form action="/productos/registrar" method="post">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" name="nombre" placeholder="Nombre del Producto" required class="form-control">
        </div>
        <div class="form-group">
            <label>Categoria:</label>
            <select name="categoria">
                <option>-- Selecciona la categoria --</option>
                {% for cat in categorias %}
                    {% if cat.estatus==True %}
                        <option value="{{cat.idCategoria}}">{{cat.nombre}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button>Registrar</button>
        </div>
    </form>
{% endblock %}
