{% extends "comunes/base.html" %}
 {% block navbar %}
    {% include 'comunes/menu.html' %}
 {% endblock %}
 {% block principal %}
    <h1>Edición de Usuarios</h1>
    <form action="/usuarios/modificar" method="post">
        <label>Nombre completo:</label>
        <input type="text" required value="{{current_user.nombrecompleto}}" name="nombre" placeholder="Ingresa tu nombre completo" maxlength="60">
        <br>
        <label>Domicilio:</label>
        <textarea rows="2" name="domicilio" placeholder="domicilio" required cols="30">{{current_user.domicilio}}</textarea>
        <br>
        <label>Genero:</label>
        {% if current_user.sexo=='F' %}
            <input type="radio" name="sexo" checked value="F">Femenino
            <input type="radio" name="sexo" value="M">Masculino
        {% else %}
            <input type="radio" name="sexo" value="F">Femenino
            <input type="radio" name="sexo" checked value="M">Masculino
        {% endif %}
            <br>
        <label>Telefono:</label>
        <input type="tel" name="telefono" placeholder="###-###-####" value="{{current_user.telefono}}" required>
        <br>
        <label>Email:</label>
        <input type="email" name="email" required placeholder="ingresa tu email" value="{{current_user.email}}" readonly>
        <br>
        <label>Password:</label>
        <input type="password" placeholder="Ingresa tu password" required name="password" value="{{current_user.password}}">
        <input type="checkbox">Ver contraseña
        <br>
        <label>Tipo:</label>
        {% if current_user.is_authenticated and current_user.is_admin() %}
        {% if current_user.tipo=='Administrador' %}
            <input type="radio" name="tipo" checked value="Administrador">Administrador
            <input type="radio" name="tipo" value="Comprador">Comprador
            <input type="radio" name="tipo" value="Vendedor">Vendedor
        {% endif %}
        {% if current_user.tipo=='Comprador' %}
            <input type="radio" name="tipo" value="Administrador">Administrador
            <input type="radio" name="tipo" checked  value="Comprador">Comprador
            <input type="radio" name="tipo" value="Vendedor">Vendedor
        {% endif %}
        {% if current_user.tipo=='Vendedor' %}
            <input type="radio" name="tipo" value="Administrador">Administrador
            <input type="radio" name="tipo" value="Comprador">Comprador
            <input type="radio" name="tipo" checked value="Vendedor">Vendedor
        {% endif %}
        {% else %}
        {% if current_user.tipo=='Comprador' %}
            <input type="radio" name="tipo" checked  value="Comprador">Comprador
        {% endif %}
        {% if current_user.tipo=='Vendedor' %}
            <input type="radio" name="tipo" value="Comprador">Comprador
            <input type="radio" name="tipo" checked value="Vendedor">Vendedor
        {% endif %}
        {% endif %}
        <br>
        <button type="submit"><img src="{{url_for('static',filename='imagenes/save.png')}}">Guardar</button>
        <a href="/"><img src="{{url_for('static',filename='imagenes/prev.gif')}}">Regresar</a>
    </form>
    {% if get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible">
            {% for message in get_flashed_messages() %}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{message}}</strong>
            {% endfor %}
        </div>
        {% endif %}
    {% endblock %}