{% extends "comunes/base.html" %}

{% block principal %}
<div class="well">
<h1>ACCESO AL SISTEMA</h1>
<form method="post" action="/usuarios/validarSesion">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" placeholder="Ingresa tu email" required name="email" class="form-control">
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" name="password" placeholder="Ingresa tu password" required class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="submit" class="btn btn-info">Validar</button>
        </div>    
        <div class="col-md-2">
        <a href="/usuarios/nuevo" class="btn btn-success">Crear una cuenta</a>
        </div>
    </div>
    </div>
</form>
{% if get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible">
        {% for message in get_flashed_messages() %}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{message}}</strong>
        {% endfor %}
    </div>
{% endif %}
</div>
{% endblock %}
