 {% extends "comunes/base.html" %}
 {% block navbar %}
    {% include 'comunes/menu.html' %}
 {% endblock %}
 {% block scripts %}
    {{super()}}
    <script src="{{url_for('static',filename='js/usuarios.js')}}"></script>
{% endblock %}
 {% block principal %}
    <div class="text text-center">
        <h1 class="bg bg-warning">Registro de Usuarios</h1>
    </div>
    <form action="/usuarios/registrar" method="post" onsubmit="return validar(this)">
        <div class="form-group">
            <label>Nombre completo:</label>
            <input type="text" required  name="nombrecompleto" placeholder="Ingresa tu nombre completo" class="form-control" maxlength="60">
        </div>
        <div class="form-group">
            <label>Domicilio:</label>
            <input type="text" name="domicilio" placeholder="domicilio" required class="form-control">
        </div>

        <label>Genero:</label>
        <label class="radio-inline">
            <input type="radio" name="genero" value="F" checked>Femenino
        </label>
        <label class="radio-inline">
            <input type="radio" name="genero" value="M">Masculino
        </label>
        <div class="form-group">
            <label>Telefono:</label>
            <input type="tel" name="telefono" placeholder="###-###-####" required class="form-control">
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input type="email" name="email" required placeholder="ingresa tu email" class="form-control" id="email" onblur="consultarEmail()">
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" placeholder="Ingresa tu password" required name="password" class="form-control" id="password">
            <label class="checkbox-inline">
                <input type="checkbox" id="verPassword" onclick="ver()">Ver contraseña
            </label>
        </div>
        <label>Tipo:</label>
        <label class="radio-inline">
            <input type="radio" name="tipo" value="Administrador">Administrador
        </label>
        <label class="radio-inline">
            <input type="radio" name="tipo" checked value="Comprador">Comprador
        </label>
        <label class="radio-inline">
            <input type="radio" name="tipo" value="Vendedor">Vendedor
        </label>
        <div class="form-group">
            <button class="btn btn-primary" disabled id="registrar">Registrar</button>
            <a href="/usuarios/iniciarSesion" class="btn btn-success">Iniciar Sesion</a>
        </div>
        <div id="notificaciones" style="background-color: brown;color: white;">
        </div>
    </form>
    {% if get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible">
            {% for message in get_flashed_messages() %}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{message}}</strong>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}